mixin box_icons
  .box-icon
    button.btn.btn-minimize.btn-round.icon-up-open
    button.btn.btn-close.btn-round.icon-close

mixin action_name_key
  input(type='text', name='name', maxlength='255', title='Action Name', placeholder='Action Name')
  input.input-medium(type='text', name='key',maxlength='255', title='Action Key', placeholder='action_name')
  .help-inline (Action Name and Key)

mixin multi_social_media_group_btns
  .btn-group(data-toggle='buttons-checkbox')
    button.btn.active(type='button', value='twitter') Twitter
    button.btn.active(type='button', value='facebook') Facebook

mixin post_content(media, max, rows)
  textarea.input-block-level(name='post_content', placeholder='Post Content...',
  title='Content post to ' + media + ' (' + max + ' max)', rows=rows, maxlength=max)

mixin action_template_select
  select(name='template', disabled).tmp
    option (Select from Template)

mixin track_checkbox
  label.checkbox.inline
    input(type='checkbox', name='track', checked)
    | Track

mixin track_checkbox_disabled
  label.checkbox.inline
    input(type='checkbox', name='track', checked, disabled)
    | Track

//- show in sidebar
mixin actions_thumb
  li.nav-header Content Page
  li
    a.action-thumb(href='#action:post_page', data-placement='bottom'
    title='Generate an information page or survey form using templates and post as a web page')
      | Post Page or Form
  li.nav-header Social Media
  li
    a.action-thumb(href='#action:post_to_multi_social_media',
    title='Post the same message to multiple selected social media')
      | Post to Social Media
  li
    a.action-thumb(href='#action:post_to_twitter',
    title='Post message to Twitter')
      | Post to Twitter
  li
    a.action-thumb(href='#action:post_to_facebook',
    title='Post message to Facebook')
      | Post to Facebook
  li.nav-header Email
  li
    a.action-thumb(href='#action:send_email',
    title='Send email to selected email addresses')
      | Send Email
  li.nav-header Schedule
  li
    a.action-thumb(href='#action:make_schedule',
    title='Create an event in calendar')
      | Make Schedule
  li.nav-header Report
  li
    a.action-thumb(href='#action:generate_report',
    title='Generate report from selected tracking data')
      | Generate Report
  li.tmp
    a.action-thumb(href='#action:calc_data',
    title='Do some calculation on existing tracking data')
      | Calculate Data

//- show in the actions box
#actions_tpl.tpl

  .tpl(name='post_page')
    .box-header.well
      h4 Post Page or Form
      mixin box_icons
    form.box-content
      mixin action_name_key
      ul.action-bar
        li
          mixin action_template_select
        li
          a.btn.btn-primary(href='#page') Design
        li
          a.btn.btn-info(href='about:blank') Preview
        li
          mixin track_checkbox
      .info (Page Info)
      .help-block
        | Information Page is a web page to display information.
        br
        | Click "Design" button to design the page.
        br
        | Click "Preview" button to preview the generated page.

  .tpl(name='post_to_multi_social_media')
    .box-header.well
      h4 Post to Multiple Social Media
      mixin box_icons
    form.box-content
      mixin action_name_key
      ul.action-bar
        li
          mixin multi_social_media_group_btns
        li
          mixin action_template_select
        li
          mixin track_checkbox
      mixin post_content('social media', 140, 2)
      .help-block
        | The maximium content length is 140, which is limited by Twitter.
        br
        | Use "Post to Facebook" action instead for longer content length.

  .tpl(name='post_to_twitter')
    .box-header.well
      h4 Post to Twitter
      mixin box_icons
    form.box-content
      mixin action_name_key
      ul.action-bar
        li
          mixin action_template_select
        li
          mixin track_checkbox
      mixin post_content('Twitter', 140, 2)
      .help-block The maximium content length is 140, which is limited by Twitter.

  .tpl(name='post_to_facebook')
    .box-header.well
      h4 Post to Facebook
      mixin box_icons
    form.box-content
      mixin action_name_key
      ul.action-bar
        li
          mixin action_template_select
        li
          mixin track_checkbox
      mixin post_content('Facebook', 63206, 3)
      .help-block The maximium content length is 63206, which is limited by Facebook.

  .tpl(name='send_email')
    .box-header.well
      h4 Send Email
      mixin box_icons
    form.box-content
      mixin action_name_key
      .input-prepend.input-block-level
        span.add-on To
        input.span11(name="email_to", title='Send To', type='text',
        placeholder='email_1@example.com; email_2@example.com')
      mixin action_template_select
      mixin track_checkbox
      input#page_title.input-block-level(type='text', name='title',
      placeholder='Title of Email', maxlength='255', required)
      textarea.input-block-level(name='email_content', placeholder='Email Content...',
      title='Content for email (1000 max)', rows=5, maxlength=1000)

  .tpl(name='generate_report')
    .box-header.well
      h4 Generate Report
      mixin box_icons
    form.box-content
      mixin action_name_key
      label.checkbox
        input(type='checkbox', name='auto', checked)
        | Generate form all tracked sources of this node.
      label Tracked Sources (Input the name of tracked sources in each line)
        textarea.input-block-level(name='sources')
      .help-block Generate Report for selected tracked sources

  .tpl(name='calc_data')
    .box-header.well
      h4 Calculate Data
      mixin box_icons
    form.box-content
      mixin action_name_key
      .help-block Calculate Data

  .tpl(name='make_schedule')
    .box-header.well
      h4 Make Schedule
      mixin box_icons
    form.box-content
      mixin action_name_key
      .btn-group(data-toggle='buttons-radio')
        button.btn.active(type='button', name='type', value='auto') Starts Automatically
        button.btn(type='button', name='type', value='manual') Starts Manually
      label Duration
        input(type='text', name='duration', placeholder='1 day 2 hours')
      .help-block
        | It will create an event in the Calendar, and notifications will be sent before its starts or ends.
        br
        | Leave Druation blank or 0 to make it ends manually or schedule it later.
